menuconfig EXPLOIT
	bool "Enable the exploit library"
	default y
	help
	  Say Y if you want to enable the exploit library.
	  If you say N here, the exploits are not compiled.

if EXPLOIT

source "lib/device/Kconfig"

endif # EXPLOIT

